.btn-primary {
  background-color: rgb(51, 242, 146) !important;
  color: rgb(255,255,255) !important;
  border: none !important;
}

.dropdown > .btn {
  background-color: transparent !important;
  color: #000 !important;
  border: none !important;
  box-shadow: none !important;
}

.order-item {
  box-shadow: 2px 2px 11px rgba(0,0,0,0.16);
}

.close {
  outline: none !important;
}

@media (min-width: 1200px) {
  .order-item {
    width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
